# HiveCFM API
HIVECFM_API_URL=https://hivecfm.xcai.io
HIVECFM_API_KEY=your-management-api-key

# NextAuth
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=https://hivelic.xcai.io

# Admin Credentials
ADMIN_EMAIL=admin@hivecfm.com
ADMIN_PASSWORD=your-secure-password
